body{
    font-family: "Montserrat";
}
h1, h2, h3{
    font-family: 'Montserrat',sans-serif;
}
p{
    color:gray;
}
/* encabezado */
#title{
    background-color: #191919;
    color: rgb(251, 237, 237);
}
.container-fluid{
    padding:2% 15%;
}
.titulo_pricipal{
    font-size: 3rem;
    line-height: 1.5;
    font-weight:500;
}
/* barra de navegacion */
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family:"Ubuntu";
    font-size:2rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}

/* botones descarga */
.botones_descarga{
    margin: 5% 5% 5% 0;
}
.boton_descarga_pc{
    margin:0 0 0 15%;
}

/* imagen titulo */
.imagen_titulo{
    width: 35%;
   transform: rotate(5deg);
   position:absolute;
}
.imagen_titulo_2{
    width: 50%;
   transform: rotate(-5deg);
   position:absolute;
   left:50%;
}
#features{
    padding:6% 15%;
    background-color:antiquewhite;
    /* z-index:1; */
    position:relative;
    
}
.feature-box{
    text-align: center;
    padding: 5%;
 
}
.iconos{
    color:rgb(177, 130, 138);
    margin-bottom: 1rem;
}
.iconos:hover{
    color:rgb(143, 41, 58);
}

/* seccion de testimonios */
#testimonials{
    
    text-align: center;
    background-color:#19191f;
    color: rgb(251, 237, 237);
}
.perfil_testimonio{
    width: 10%;
    border-radius:100%;
    border: 1px solid;
    margin:15px;
}
.carousel-item{
    padding:6% 15%;
}
#press{
    background-color:#19191f;
    text-align: center;
    padding-bottom:3%;
}
.press-logo{
    width: 15%;
    margin:20px 20px 50px;
}
#pricing{
    text-align: center;
    padding:100px;
}
.tarjetas{
    margin-top: 6%;
}
.pricing-column{
    padding:3% 2%;
}
.card-header{
    background-color: rgb(177, 130, 138);
}
.card-header:hover{
    background-color:rgb(143, 41, 58);
}
#cta{
    background-color: #191919;
    color: rgb(251, 237, 237);
    text-align: center;
    padding:6% 15%;
}
.cta_titulo{
    font-family:'Montserrat';
    font-weight: bold;
    font-size:3.5rem;
    line-height:1.5;
}
.botones_pie{
    margin:5% 5% 5% 0;
}
/* footer */
#footer{
    padding:6% 15%;
    text-align:center;
}
.social-icon{
    margin:20px 10px;
}

/* media query */
@media (max-width: 1200px){
    #title{
        text-align: center;
    }
    .imagen_titulo{
       
       position:static;
       transform:rotate(0)
    }
    .imagen_titulo_2{
       
       position:static;
       transform:rotate(0);
    }
    .boton_descarga_pc{
        margin:5% 5% 5% 0;
    }
}