<!-- uso de layouts -->
<%-include("header") -%> 
   
    <div class="box" id="heading">
        <h1><%=tituloLista%></h1>
    </div>
    <div class="box">
        
        <%for(var i=0;i<itemsNuevos.length;i++){%>
        <div class="item">
            <input type="checkbox">
            <p><%=itemsNuevos[i]%></p>
        </div>   
        <% }%>
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="nuevo item" autofocus autocomplete="off">
            <button type="submit" name="list" value=<%=tituloLista%>>+</button>
        </form>
    </div>

    <%-include("footer") -%>