.container {
    width: 70%;
    margin: auto;
    text-align: center;
    border: 8px dotted #4ECCA3;
    border-radius:34px;
    padding-bottom: 5%;
    
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #ec542e;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0  #4ECCA3;
    font-size: 5rem;
    color: #000000;
  }
  .boton_sonido{
    display: block;
    height: 50px;
  }
  .sonido{
    border: 1px dotted #4ECCA3;
    border-radius: 20px;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
  }  
  .jugadores{
    font-size: 1.5rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 70%;
  }
  .boton{
    width:200px;
    height: 80px;
    display: block;
    margin: 5px auto;
    text-align: center;
    background-color: #bd4729;
    font-size: 1.5rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
    border-radius: 30px;
   
    /* button-shadow: 50px 0 black; */
    
  }
  .boton:hover{
    box-shadow: 0 3px 4px 0 #ffffff;
    opacity: 0.9;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  