<%-include('partials/header');-%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="">Titulo</label>
    <input class="form-control" type="text" name="tituloPost" autofocus />
    <label for="">Post</label>
    <textarea
      class="form-control"
      name="cuerpoPost"
      id=""
      cols="30"
      rows="10"
    ></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Publicar</button>
 
</form>

<%-include('partials/footer');-%>
