<%-include('partials/header');-%>


<h1>Home</h1>
<p><%=primerTexto%></p>
<%# for(var i=0;i<posts.length;i++){%> 
    <%# console.log(posts[i].titulo) %> 
    <%#}%> 
<% posts.forEach(function (post) {%>
    
    <h1><%=post.titulo%> </h1>
    <p><%= (post.contenido).substring(0,200) + "..." %> <a href="/posts/+<%=post.titulo%>" >Leer mas</a></p>  
    
    <%# substring(0,200) se usa para restringir la cantidad de caracteres que se muestran cada vez %> 
<%}) %> 

<%-include('partials/footer');-%>
