* {
  margin: 0;
  padding: 0;
}

.hover {
  border: solid #f00 3px;
  margin: 5px;
}
.no_hover {
  border: dashed #000 3px;
  margin: 5px;
}
.my_hover {
  border: dotted #7c9696 5px;
}
.botones {
  width: 90%;
  margin: 0 auto;
}
.container-fluid {
  width: 90%;
  margin: 0 auto;
}
.btn {
  margin: 5px;
}
.lateral {
  margin-left: auto;
}
.cuadros {
  width: 90%;
  margin: 0 auto;
}
.cuadro {
  width: 100px;
  height: 100px;
  border: dotted brown 3px;
  background-color: aqua;
  position: relative;
  /* z-index: 1; */
}
.cuadro2 {
  width: 100px;
  height: 100px;
  border: dotted brown 3px;
  background-color: coral;
}
.formulario {
  background-color: rgb(203, 255, 238); 
  border: solid black 3px;
}
#my_value{
  background-color:rgb(203, 255, 238);
  border:none;
}
#altoancho{
  width:40px;
  height:40px;
  border: solid coral 2px;
}
#custom-red{
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}
#custom-green{
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}
#custom-blue{
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
  border-radius: 100%;
}
#red .ui-slider-range{
  background-color:red;
}
#green .ui-slider-range{
  background-color:rgb(0, 255, 0);
}
#blue .ui-slider-range{
  background-color:blue;
}
#rgb{
  width:80px;
  height:80px;
  background-color: rgb(30,30,30);

}
.agregar{
  background-color: rgb(220, 255, 243); 
  border: dashed gray 3px;
}
#titulo-agregar{
  color:red;
}
