*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#cfc5a5;
    text-align: center;
}

.agrupar{
    background-color:#cfc5a5;
    margin: 0 auto;
    border-radius:23px;
    width: 70%;
    
}
#foto_perfil{
    width: 100px;
    display: block;
    margin:0 auto;
}
#parrafo_perfil{
    color:antiquewhite;
    font-size: 1.2em;
    margin:20px auto;
    
}
#titulo_1{
    display: inline-block;
    margin:auto;
    /*font-family: 'Akaya Telivigala', cursive;*/
   
    
}
h1{
    color:#daceca;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    line-height: 1.3;
}
h3{
    color:rgb(23, 88, 23);
    font-family: 'Ballet', cursive;
    font-size:50px;
    
}
li{
    font-size: 40px;
}
#cabecera{
    /*background-color: #c2b092;*/
    background-image: url(gif/giphy_1.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    margin:0 auto;
    padding: 5px;
    border-radius:23px;
    /*text-align: center;*/

}

#primer_hr{
    
   /* margin: auto;*/
    border: none;
    border-style: none;
    border-top: 3px dotted rgb(101, 101, 148);
    height: 1px;
    border-width: 10px;
    margin: 0 auto;
    width: 10%;
   
    
}
.linea_corta{
    
    border-style: none;
    border-top:3px dotted rgb(101, 101, 148);
    margin: 0 auto;
    border-width: 8px;
    width: 15%;
  
}
.educacion{
    margin: auto 23px;
    display: inline-block;
    text-align: left;
    list-style:none;
   
   /*list-style: none;*/ 

}
#lista_hobbies{
    margin: auto 23px;
    list-style-type: decimal;
    display: inline-block;
    text-align: left;
   
}

header a{
   
    color:white;
}
header a:hover{
    text-decoration:none;
}
header a:active{
    background-color:rgb(101, 101, 148);
}

ul li:hover{
    background-color:#cfc5a5;
}
ol li:hover{
    background-color:#c2b092;
}
.div_educacion{
    background-color:#c2b092;
    font-family: 'Akaya Telivigala', cursive;
    border-radius:23px;
    
    
}
.div_hobbies{
    background-color:#cfc5a5;
    font-family: 'Akaya Telivigala', cursive;
    border-radius:23px;
    
}
.div_habilidades{
    background-color: #c2b092;
    font-family: 'Akaya Telivigala', cursive;
    border-radius:23px;
}
.audifonos{
    width: 15%;
   display: inline-block;
   position:relative;
   left:-20px;
   top:30px;

}
.series{
    
    position:relative;
    top:30px;
    width:15%;
}
.pluma_fuente{
    width: 25%;
    display: block;
    margin: 20px auto;
    transform:rotate(20deg)
   
}
.edu_basica{
    width:15%;
    position:relative;
    top:10px;
}
.edu_secundaria{
    width:15%;
    display: block;
   margin: 0 auto;
}
.edu_universidad{
    width:15%;
}
.tabla_habilidades{
    margin:0 auto;
    
    text-align: left;
    font-family: 'Akaya Telivigala', cursive;
    font-size:40px;
}
.contactame {
	box-shadow:inset 0px 2px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border-radius:23px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Akaya Telivigala', cursive;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
.contactame:hover {
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color:#634b30;
    color:rgb(23, 88, 23);
}
.contactame:active {
	position:relative;
	top:2px;
}
.copy{
   
    width:40%;
    display:inline-block;
    position:relative;
    top:-20px;
    text-align:left;
    
}
.redes_sociales {
    width: 20%;
    border-left: 2px solid black;
    padding-left: 5px;
    display:inline-block;
    text-align: left;
    color:rgb(23, 88, 23);
    font-family: 'Ballet', cursive;
    font-size:40px;
    font-weight:bold;

}
.redes_sociales ul{
    list-style:none;
}
.redes_sociales ul li{
    display:inline;
}

/*.redes_sociales ul li{
    display:inline-block;
}*/

.redes_img{
    width:30%;
    margin:0;
}
#flecha_arriba{
    float:right;
}
@font-face{
    font-family:boteras;
    src:url(Botera-RegularStencil.otf);
}